


@font-face {
    font-family:Noto Sans;
    src: url("../libraries/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family:Poppins;
    src: url("../libraries/fonts/Poppins-Medium.ttf");
}

$pg-font:Poppins;
$txt-color: white;


*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:$pg-font;
    color: $txt-color;
    line-height: 2em;
}
